{% form_theme edit_form 'ToaTwitterBootstrapBundle:Form:widgets.html.twig' %}

{% extends 'SkonsoftLookForTravelerBundle:User:layout.html.twig' %}

{% block mainContent %}

<h1 class="page-header">{{ 'Profile'|trans }} {{ 'edit'|trans }}</h1>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
        {{ flashMessage }}
    </div>
{% endfor %}

<form class="form-horizontal" action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn" type="submit">
            <i class="icon-pencil"></i>
            {{ 'edit'|trans }}
        </button>
        <a class="btn" href="{{ path('skonsoft_look_for_traveler_homepage') }}">
            <i class="icon-home"></i>
            {{ 'cancel'|trans }}
        </a>
    </p>
</form>

{% endblock %}