{% form_theme edit_form 'ToaTwitterBootstrapBundle:Form:widgets.html.twig' %}

{% extends 'SkonsoftTravelWithMeBundle::layout.html.twig' %}
{% block content %}

<h1 class="page-header">{{ 'Trip'|trans }} {{ 'edit'|trans }}</h1>

<form class="form-horizontal" action="{{ path('trip_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn" type="submit">
            <i class="icon-pencil"></i>
            {{ 'edit'|trans }}
        </button>
    </p>
</form>


    <form action="{{ path('trip_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">
            <i class="icon-trash"></i>
            {{ 'delete'|trans }}
        </button>
    </form>

    <a class="btn" href="{{ path('trip') }}">
        <i class="icon-th-list"></i>
        {{ 'back to the list'|trans }}
    </a>

{% endblock %}